.footer{
    border-top: 2px solid #5861AE;
    text-align: center;
    background-color: #B9C0FD1A;
    height: 10vh;

}
.para1{
    font-size: 20px;
    color: #5861AE;
}
.para2{
    font-size: 10px;
}