.middle{
    display: flex;
   justify-content: space-around;
  
}
.left-box{
    height: 80vh;
    width: 49%;
    padding-left: 150px;
    box-sizing: border-box;

}
.right-box{
    width: 49%;
    text-align: left;
    background-color: #B9C0FD1A;
    /* padding-left: 130px; */
    padding-top: 84px;
}
.name{
    font-size: 80px;
    color: #5861AE;
    margin-bottom: 0;
}
.description{
    font-size: 20px;
    color: #565657;
    opacity: 1;
}
.question{
    padding-top: 74px;
    font-size: 16px;
}
.register{
    border: 2px solid #4552C1;
    color: #4552C1;
    background-color: #FFFFFF;
    padding: 16px 43px;
    border-radius: 5px;
    cursor: pointer;
}
.signin{
    color: #4552C1;
    font-size: 32px;
    padding-bottom: 65px;
    padding: 10px 0 10px 200px;
}
.forget{
    display: block;
    font-size: 16px;
    color: #4552C1;
}
.right-box .forget{
    padding-left: 194px;
}
.sinput>input{
     width: 310px;
     border: none;
     border-bottom: 1px solid #77838F;
     background-color: transparent;
     padding: 10px 0;
}
.sinput{
    border-left: 3px solid #ccc;
    padding: 10px 0 10px 200px;
}

.pass{
    width: 290px;
    border: none;
    background-color: transparent;
    padding: 10px 0;
}
.Email{
    background-color: transparent;
}
.passdiv{
    width: 310px;
    border-bottom: 1px solid #77838F;
    margin-top: 60px;
}


.signinbtn{
    color: #FFFFFF;
    background-color: #4552C1;
    cursor: pointer;
    padding: 14px 49px;
    border-radius: 5px;
    border: none;
}
.img{
    width: 10px;
    height: 15px;
}
.signIn-btn{
    text-align: center;
    margin-top: 60px;
}
.error-msg{
    color: red;
    font-size: 10px;
}