.main{
    width: 60%;
    float: right;
    
}
.headsum{
    background-color: #5861AE;
    color: #FFFFFF;
}
.headsum :first-child{
    display: inline-block;
    width: 90%;
    padding-left: 20px;
}
.optionsum select{
    border: none;
    border-bottom: 1px solid #3E3F40;
    margin-right: 100px;
    margin-left: 50px;
    background-color: #F4F9FF;
}
.optionsum{
    display: flex;
    background-color: #F4F9FF;
}
.optionsum p{
   padding-right: 80px;
}
.order{
    margin-left: 50px;
}
.address{
    border-top: 1px solid #1B2734;
    margin-left: 50px;
}